<%- include('./partials/header.ejs'); %>
<%- include('./partials/navbar.ejs') %>

    <div class="heading">
        <h1>DASHBOARD</h1>
        <h2> <%= user.username %>  </h1>
    </div>
    
<%- include('./partials/footer.ejs'); %>
