<%- include('./partials/header.ejs'); %>
<%- include('./partials/navbar.ejs') %>

    <div class="heading">
        <h1>Dashboard</h1>
        <h2> Welcome <%= user.username %>! </h2>
        <a href="/pokemon">Register a Pokemon</a>
        <a href="/orders">Previous Orders</a>
    </div>
    
<%- include('./partials/footer.ejs'); %>
