<div>

    <form action="/pokemon/add" method="post">

    </form>
    <% if (typeof pokemons != 'undefined') {%>
    <h2>Your Pokemons</h2>
    <% pokemons.forEach((pokemon)=>{ %>
    <h3><%=pokemon.name %> </h3>
    <p><%=pokemon.type %> </p>
    <p><%=pokemon.hp%></p>
    <p><%=pokemon.weight %> </p>
    <% }) %>
    <% } else { %>
    <h2>You have no registered pokemons. Please Register some pokemons</h2>

    <% } %>


    <form action="/pokemon/register" method="post"></form>
</div>