<div>
    <h1>Gyms Admin Panel</h1>
    <form action="/gym/admin/create" method="post">
        <label for="name">Name of Gym</label>
<<<<<<< HEAD
        <input type="text" name="name" id="name" placeholder="Qutub Minar Gym" required="true">

        <label for="location">Location of Gym</label>
        <input type="text" name="location" id="location" placeholder="28.61, 77.23" required="true">
        
        <label for="website">Website</label>
        <input type="text" name="website" id="website" placeholder="google.com" required="true">
        
        <label for="email">Email of Gym</label>
        <input type="text" name="email" id="email" placeholder="kejriwal@delhi.gov.in" required="true">
        
        <label for="gymLeader">Gym Leader</label>
        <input type="text" name="gymLeader" id="gymLeader" placeholder="Manish Sisaudia" required="true">
        
        <label for="image">Image</label>
        <input type="text" name="image" id="image" placeholder="imgur.com/t/rick_roll/ijTYytO" required="true">

=======
        <input type="text" name="name" id="name" placeholder="Qutub Minar Gym" required="true"><br>
        <label for="location">Location of Gym</label>
        <input type="text" name="location" id="location" placeholder="28.61, 77.23" required="true"><br>
        <label for="location">Type of Gym</label>
        <input type="text" name="type_gym" id="location" placeholder="Stadium, Shop etc." required="true"><br>
>>>>>>> bf4c51df158ca01c2517053ccd3cb771180f4575
        <button type="submit">Create Gym</button>
    </form>
</div>